@import "./vendor/_mixins.scss";
@import "./vendor/_variables.scss";
@import "../lib/font-awesome/css/all.min.css";
@import "../lib/owl-carousel/css/owl.carousel.min.css";

/*=======================================================
                    basic styling
=======================================================*/
*,
*::before,
*::after {
    box-sizing: border-box;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

html,
body,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
}

/* Roboto regular */

@font-face {
    font-family: "ITC-Avant-Normal";
    src: url("../fonts/ITC-Avant-Garde-Gothic-Medium.otf");
    font-weight: 400;
    font-style: normal;
}

/* Roboto bold */

@font-face {
    font-family: "ITC-Avant-Bold";
    src: url("../fonts/ITC-Avant-Garde-Gothic-Bold.otf");
    font-weight: 700;
    font-style: normal;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: 576px) {
        max-width: 540px;
    }

    @media (min-width: 768px) {
        max-width: 720px;
    }

    @media (min-width: 992px) {
        max-width: 960px;
    }

    @media (min-width: 1200px) {
        max-width: 1140px;
    }

    @media (min-width: 1440px) {
        max-width: 1366px;
    }
}

.top-nav {
    background-color: $colorWhite;
    -webkit-box-shadow: 0px 2px 20px -6px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 2px 20px -6px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 2px 20px -6px rgba(0, 0, 0, 0.35);
}

@media(min-width: 993px) {
    .dropdown-color {
        margin-top: 30px;
        padding: 17px 20px 20px;
        background-color: $colorWhite;
        border-radius: 0 0 10px 5px;
        -webkit-border-radius: 0 0 10px 5px;
        -moz-border-radius: 0 0 10px 5px;
        -ms-border-radius: 0 0 10px 5px;
        -o-border-radius: 0 0 10px 5px;
        -webkit-box-shadow: 13px 18px 18px -10px rgba(0, 0, 0, 0.35);
        -moz-box-shadow: 13px 18px 18px -10px rgba(0, 0, 0, 0.35);
        box-shadow: 13px 18px 18px -10px rgba(0, 0, 0, 0.35);
    }
}

// .dropdown-color {
//     margin-top: 30px;
//     padding: 17px 20px 20px;
//     background-color: $colorWhite;
//     border-radius: 0 0 10px 5px;
//     -webkit-border-radius: 0 0 10px 5px;
//     -moz-border-radius: 0 0 10px 5px;
//     -ms-border-radius: 0 0 10px 5px;
//     -o-border-radius: 0 0 10px 5px;
//     -webkit-box-shadow: 13px 18px 18px -10px rgba(0, 0, 0, 0.35);
//     -moz-box-shadow: 13px 18px 18px -10px rgba(0, 0, 0, 0.35);
//     box-shadow: 13px 18px 18px -10px rgba(0, 0, 0, 0.35);
// }

/*=======================================================
                    header section
=======================================================*/
#header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 99999;

    @media (min-width: 993px) {
        height: 76px;
    }

    @media (max-width: 992px) {
        background-color: $colorWhite;
        -webkit-box-shadow: 0px 2px 20px -6px rgba(0, 0, 0, 0.35);
        -moz-box-shadow: 0px 2px 20px -6px rgba(0, 0, 0, 0.35);
        box-shadow: 0px 2px 20px -6px rgba(0, 0, 0, 0.35);
    }

    .container {
        display: flex;
        justify-content: space-between;

        @media (max-width: 992px) {
            align-items: center;
            display: grid;
        }

        .logo-box {
            float: left;
            grid-area: 1/1;

            a {
                img {
                    max-width: 93px;
                    padding-top: 10px;
                    padding-bottom: 10px;

                    @media (max-width: 500px) {
                        max-width: 70px;
                    }
                }
            }
        }

        .navbar {
            @media (max-width: 992px) {
                display: none;
                grid-area: 2/1;
            }

            .navbar-nav {
                @media (max-width: 992px) {
                    margin-top: 20px;
                }

                .nav-item {
                    float: left;
                    padding: 26px 18px;

                    @media (max-width: 992px) {
                        float: unset;
                        display: block;
                        padding: 10px;
                    }

                    .nav-link {
                        display: flex;
                        font-size: 16px;
                        color: $colorBlack;
                        @include fontNormal;
                        cursor: pointer;

                        i {
                            margin-left: 10px;
                        }
                    }

                    .active {
                        @include fontBold;
                    }

                    .dropdown-menu {
                        margin-top: 30px;
                        display: none;
                        padding: 17px 10px 20px;

                        .dropdown-item {
                            display: block;
                            color: $colorBlack;
                            @include fontNormal;
                        }

                        .dropdown-item:nth-child(2) {
                            padding: 17px 0;
                        }

                        .active {
                            @include fontBold;
                        }
                    }
                }
            }
        }

        .cart-option {
            float: right;
            padding: 26px 0;

            @media (max-width: 992px) {
                grid-area: 1/2;
            }

            #btn-toggle {
                display: none;

                @media (max-width: 992px) {
                    display: unset;
                }
            }

            i {
                font-size: 14px;
                margin: 0 5px;
                cursor: pointer;
            }

            .login-btn {
                font-size: 14px;
                border: 2px solid $colorBlack;
                padding: 5px 10px;
                @include fontNormal;
                color: $colorBlack;
                margin-left: 10px;

                &:hover {
                    color: $colorWhite;
                    background-color: $colorBlack;
                }
            }
        }
    }

    #search {
        display: none;
        width: 100%;
        margin-top: 20px;

        .container {
            form {
                width: 100%;

                .input-group-append {
                    width: 100%;
                    min-height: 60px;
                    margin: 0 auto;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    border-radius: 30px;
                    -webkit-border-radius: 30px;
                    -moz-border-radius: 30px;
                    -ms-border-radius: 30px;
                    -o-border-radius: 30px;

                    input {
                        width: 100%;
                        padding: 20px 40px;
                        font-family: "ITC-Avant-Bold";
                        font-weight: 700;
                        font-style: normal;
                        line-height: 1.3;
                        border: 2px solid #272727;
                        border-radius: 30px 0 0 30px;
                        -webkit-border-radius: 30px 0 0 30px;
                        -moz-border-radius: 30px 0 0 30px;
                        -ms-border-radius: 30px 0 0 30px;
                        -o-border-radius: 30px 0 0 30px;
                    }

                    button {
                        padding: 20px 50px;
                        background-color: #272727;
                        color: #fff;
                        font-family: "ITC-Avant-Bold";
                        font-weight: 700;
                        font-style: normal;
                        line-height: 1.3;
                        border: 2px solid #272727;
                        border-radius: 0 30px 30px 0;
                        -webkit-border-radius: 0 30px 30px 0;
                        -moz-border-radius: 0 30px 30px 0;
                        -ms-border-radius: 0 30px 30px 0;
                        -o-border-radius: 0 30px 30px 0;
                    }
                }
            }
        }
    }
}

/*=======================================================
        index.html page hero-slider section
=======================================================*/
#hero-slider {
    @media (max-width: 500px) {
        margin-top: 60px;
    }

    .img-box {
        position: relative;
    }

    .owl-carousel .owl-dots {
        position: absolute;
        top: 45%;
        left: 9%;
        transform: translate(-50%) rotate(270deg);
        -webkit-transform: translate(-50%) rotate(270deg);
        -moz-transform: translate(-50%) rotate(270deg);
        -ms-transform: translate(-50%) rotate(270deg);
        -o-transform: translate(-50%) rotate(270deg);

        .owl-dot {
            width: 13px;
            height: 13px;
            border: 2px solid $colorWhite;
            margin: 0 5px;
            border-radius: 30px;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            -ms-border-radius: 30px;
            -o-border-radius: 30px;
        }

        .active {
            border: 3px solid $colorWhite;
            margin: 0 4px;
        }
    }

    .container {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 9999;

        .social-icon-box {
            text-align: right;

            .icon {
                i {
                    cursor: pointer;
                    font-size: 20px;
                    padding: 15px;
                    color: $colorWhite;
                    background-color: $colorBlack;
                    width: 50px;
                    height: 50px;
                    margin: 10px 0 0;
                    border-radius: 30px;
                    -webkit-border-radius: 30px;
                    -moz-border-radius: 30px;
                    -ms-border-radius: 30px;
                    -o-border-radius: 30px;
                    -webkit-box-shadow: 0px 0px 18px -5px rgba(0, 0, 0, 0.35);
                    -moz-box-shadow: 0px 0px 18px -5px rgba(0, 0, 0, 0.35);
                    box-shadow: 0px 0px 18px -5px rgba(0, 0, 0, 0.35);
                    transition: ease-in-out .5s;
                    -webkit-transition: ease-in-out .5s;
                    -moz-transition: ease-in-out .5s;
                    -ms-transition: ease-in-out .5s;
                    -o-transition: ease-in-out .5s;

                    &:hover {
                        color: $colorBlack;
                        background-color: $colorWhite;
                    }
                }

                i.fa-facebook-f {
                    padding: 17px;
                }
            }
        }
    }
}

/*=======================================================
                    product section
=======================================================*/
.title-box {
    .title {
        font-size: 24px;
        @include fontBold;
        margin-top: 100px;
        text-transform: uppercase;
    }
}

.product-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 50px;

    @media (max-width: 992px) {
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 15px;
    }

    @media (max-width: 768px) {
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
    }

    @media (max-width: 576px) {
        grid-template-columns: 1fr;
        column-gap: 0;
    }

    .product__ {
        .product-info-box {
            padding: 13px 7px 3px;

            .product-name-icon {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .product_name {
                    position: relative;
                    font-size: 14px;
                    @include fontNormal;
                    margin: 0;
                }

                i {
                    margin: 5px;
                    cursor: pointer;
                }

                i.fas {
                    color: red;
                }
            }

            .info-inner-box {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                margin-top: 18px;

                .price-box {
                    .currency {
                        color: red;
                        font-size: 12px;
                        @include fontBold;
                        margin: 0;
                    }

                    .price {
                        color: red;
                        font-size: 18px;
                        @include fontBold;
                        margin: 0;
                    }
                }

                .btn-box {
                    button {
                        font-size: 14px;
                        @include fontNormal;
                        @include btncapsule;
                    }
                }
            }
        }
    }
}

/*=======================================================
                    poster section
=======================================================*/
#poster {
    margin-top: 90px;
}

/*=======================================================
                email-subscribe section
=======================================================*/
#email-subscribe {
    display: grid;
    margin-top: 85px;
    margin-bottom: 110px;

    .newsletter-title {
        font-size: 24px;
        text-align: center;
        @include fontBold;
        text-transform: uppercase;
        margin: 0;
    }

    .desc {
        font-size: 14px;
        text-align: center;
        @include fontNormal;
        margin: 30px 0 70px;
    }

    .field-group {
        max-width: 650px;
        min-height: 60px;
        margin: 0 auto;
        display: flex;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;

        .input-field {
            width: 100%;
            padding: 20px 40px;
            @include fontBold;
            border: 2px solid $colorBlack;
            border-radius: 30px 0 0 30px;
            -webkit-border-radius: 30px 0 0 30px;
            -moz-border-radius: 30px 0 0 30px;
            -ms-border-radius: 30px 0 0 30px;
            -o-border-radius: 30px 0 0 30px;

            @media (max-width: 768px) {
                padding: 20px 20px;
            }
        }

        .input-btn {
            padding: 20px 40px;
            background-color: $colorBlack;
            color: $colorWhite;
            @include fontBold;
            border: 2px solid $colorBlack;
            border-radius: 0 30px 30px 0;
            -webkit-border-radius: 0 30px 30px 0;
            -moz-border-radius: 0 30px 30px 0;
            -ms-border-radius: 0 30px 30px 0;
            -o-border-radius: 0 30px 30px 0;

            @media (max-width: 768px) {
                padding: 20px 25px;
            }
        }
    }
}

/*=======================================================
                    footer section
=======================================================*/
#footer {
    display: grid;
    background-color: $colorBlack;
    width: 100%;

    .container {
        .footer-top {
            display: grid;
            grid-template-columns: 5fr 1fr 1fr 1fr 1fr 1fr;

            @media (max-width: 992px) {
                grid-template-columns: 1fr 1fr;
                column-gap: 20px;
            }

            @media (max-width: 576px) {
                grid-template-columns: 1fr;
                column-gap: 0;
            }

            .col {
                margin-top: 28px;

                img {
                    max-width: 120px;
                }

                .contact-title {
                    font-size: 16px;
                    @include fontBold;
                    color: $colorWhite;
                    text-transform: capitalize;
                }

                .address,
                .phone-number,
                .email {
                    color: $colorWhite;
                    font-size: 13px;
                    @include fontNormal;
                }

                .footer-top-title {
                    margin: 45px 0 0;
                    color: $colorWhite;
                    font-size: 16px;
                    @include fontBold;
                    text-transform: capitalize;
                }

                ul {
                    li {
                        margin-top: 20px;

                        a {
                            font-size: 13px;
                            color: $colorWhite;
                            @include fontNormal;
                            text-transform: capitalize;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }

            .col_1,
            .col_2,
            .col_3,
            .col_4,
            .col_5 {
                @media (max-width: 992px) {
                    display: none;
                }
            }

            .col_6 {
                @media (min-width: 993px) {
                    display: none;
                }

                margin-top: 20px;
                display: block;

                .tabs {
                    overflow: hidden;

                    h3 {
                        a {
                            margin: 45px 0 0;
                            color: $colorWhite;
                            font-size: 16px;
                            @include fontBold;
                            text-transform: capitalize;
                        }
                    }

                    .tab {
                        width: 100%;
                        overflow: hidden;

                        input {
                            position: absolute;
                            opacity: 0;
                            z-index: -1;
                        }

                        .tab-label {
                            margin: 0;
                            color: $colorWhite;
                            font-size: 16px;
                            @include fontBold;
                            text-transform: capitalize;
                            display: flex;
                            align-items: center;
                            padding: 1em;
                            padding-left: 0;
                            cursor: pointer;

                            &::before {
                                font-family: "Font Awesome 5 Free";
                                content: "\f054";
                                font-size: 13px;
                                font-weight: 600;
                                width: 1em;
                                height: 1em;
                                color: $colorWhite;
                                text-align: center;
                                transition: all .35s;
                                margin-right: 10px;
                            }
                        }

                        .tab-content {
                            font-size: 13px;
                            line-height: 1.5;
                            font-weight: 400;
                            letter-spacing: 2px;
                            word-spacing: 2px;
                            max-height: 0;
                            padding: 0 1em;
                            color: #656260;
                            transition: all .35s;

                            ul {
                                li {
                                    margin-bottom: 10px;

                                    a {
                                        font-size: 13px;
                                        color: $colorWhite;
                                        @include fontNormal;
                                        text-transform: capitalize;

                                        &:hover {
                                            text-decoration: underline;
                                        }
                                    }
                                }
                            }
                        }

                        input:checked+.tab-label::before {
                            transform: rotate(90deg);
                        }

                        input:checked~.tab-content {
                            max-height: 100vh;
                            padding: 1em;
                            margin-left: 25px;
                        }
                    }

                    .tab-close {
                        display: flex;
                        justify-content: flex-end;
                        padding: 1em;
                        font-size: 0.75em;
                        background: #656260;
                        cursor: pointer;

                        &:hover {
                            background: #4b4947;
                        }
                    }
                }
            }
        }

        .footer-bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .year,
            .copyright {
                font-size: 14px;
                color: $colorWhite;
                margin: 28px 0;
                text-transform: capitalize;
            }
        }
    }
}