@import url(../lib/font-awesome/css/all.min.css);
@import url(../lib/owl-carousel/css/owl.carousel.min.css);
/*=======================================================
                    basic styling
=======================================================*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

html,
body,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

/* Roboto regular */
@font-face {
  font-family: "ITC-Avant-Normal";
  src: url("../fonts/ITC-Avant-Garde-Gothic-Medium.otf");
  font-weight: 400;
  font-style: normal;
}
/* Roboto bold */
@font-face {
  font-family: "ITC-Avant-Bold";
  src: url("../fonts/ITC-Avant-Garde-Gothic-Bold.otf");
  font-weight: 700;
  font-style: normal;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1366px;
  }
}

.top-nav {
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 20px -6px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 2px 20px -6px rgba(0, 0, 0, 0.35);
}

@media (min-width: 993px) {
  .dropdown-color {
    margin-top: 30px;
    padding: 17px 20px 20px;
    background-color: #fff;
    border-radius: 0 0 10px 5px;
    -webkit-border-radius: 0 0 10px 5px;
    -moz-border-radius: 0 0 10px 5px;
    -ms-border-radius: 0 0 10px 5px;
    -o-border-radius: 0 0 10px 5px;
    -webkit-box-shadow: 13px 18px 18px -10px rgba(0, 0, 0, 0.35);
    box-shadow: 13px 18px 18px -10px rgba(0, 0, 0, 0.35);
  }
}
/*=======================================================
                    header section
=======================================================*/
#header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99999;
}
@media (min-width: 993px) {
  #header {
    height: 76px;
  }
}
@media (max-width: 992px) {
  #header {
    background-color: #fff;
    -webkit-box-shadow: 0px 2px 20px -6px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 2px 20px -6px rgba(0, 0, 0, 0.35);
  }
}
#header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 992px) {
  #header .container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: grid;
  }
}
#header .container .logo-box {
  float: left;
  grid-area: 1/1;
}
#header .container .logo-box a img {
  max-width: 93px;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media (max-width: 500px) {
  #header .container .logo-box a img {
    max-width: 70px;
  }
}
@media (max-width: 992px) {
  #header .container .navbar {
    display: none;
    grid-area: 2/1;
  }
}
@media (max-width: 992px) {
  #header .container .navbar .navbar-nav {
    margin-top: 20px;
  }
}
#header .container .navbar .navbar-nav .nav-item {
  float: left;
  padding: 26px 18px;
}
@media (max-width: 992px) {
  #header .container .navbar .navbar-nav .nav-item {
    float: unset;
    display: block;
    padding: 10px;
  }
}
#header .container .navbar .navbar-nav .nav-item .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  color: #272727;
  font-family: "ITC-Avant-Normal";
  font-weight: 400;
  font-style: normal;
  line-height: 1.3;
  cursor: pointer;
}
#header .container .navbar .navbar-nav .nav-item .nav-link i {
  margin-left: 10px;
}
#header .container .navbar .navbar-nav .nav-item .active {
  font-family: "ITC-Avant-Bold";
  font-weight: 700;
  font-style: normal;
  line-height: 1.3;
}
#header .container .navbar .navbar-nav .nav-item .dropdown-menu {
  margin-top: 30px;
  display: none;
  padding: 17px 10px 20px;
}
#header .container .navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item {
  display: block;
  color: #272727;
  font-family: "ITC-Avant-Normal";
  font-weight: 400;
  font-style: normal;
  line-height: 1.3;
}
#header .container .navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item:nth-child(2) {
  padding: 17px 0;
}
#header .container .navbar .navbar-nav .nav-item .dropdown-menu .active {
  font-family: "ITC-Avant-Bold";
  font-weight: 700;
  font-style: normal;
  line-height: 1.3;
}
#header .container .cart-option {
  float: right;
  padding: 26px 0;
}
@media (max-width: 992px) {
  #header .container .cart-option {
    grid-area: 1/2;
  }
}
#header .container .cart-option #btn-toggle {
  display: none;
}
@media (max-width: 992px) {
  #header .container .cart-option #btn-toggle {
    display: unset;
  }
}
#header .container .cart-option i {
  font-size: 14px;
  margin: 0 5px;
  cursor: pointer;
}
#header .container .cart-option .login-btn {
  font-size: 14px;
  border: 2px solid #272727;
  padding: 5px 10px;
  font-family: "ITC-Avant-Normal";
  font-weight: 400;
  font-style: normal;
  line-height: 1.3;
  color: #272727;
  margin-left: 10px;
}
#header .container .cart-option .login-btn:hover {
  color: #fff;
  background-color: #272727;
}
#header #search {
  display: none;
  width: 100%;
  margin-top: 20px;
}
#header #search .container form {
  width: 100%;
}
#header #search .container form .input-group-append {
  width: 100%;
  min-height: 60px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
#header #search .container form .input-group-append input {
  width: 100%;
  padding: 20px 40px;
  font-family: "ITC-Avant-Bold";
  font-weight: 700;
  font-style: normal;
  line-height: 1.3;
  border: 2px solid #272727;
  border-radius: 30px 0 0 30px;
  -webkit-border-radius: 30px 0 0 30px;
  -moz-border-radius: 30px 0 0 30px;
  -ms-border-radius: 30px 0 0 30px;
  -o-border-radius: 30px 0 0 30px;
}
#header #search .container form .input-group-append button {
  padding: 20px 50px;
  background-color: #272727;
  color: #fff;
  font-family: "ITC-Avant-Bold";
  font-weight: 700;
  font-style: normal;
  line-height: 1.3;
  border: 2px solid #272727;
  border-radius: 0 30px 30px 0;
  -webkit-border-radius: 0 30px 30px 0;
  -moz-border-radius: 0 30px 30px 0;
  -ms-border-radius: 0 30px 30px 0;
  -o-border-radius: 0 30px 30px 0;
}

/*=======================================================
        index.html page hero-slider section
=======================================================*/
@media (max-width: 500px) {
  #hero-slider {
    margin-top: 60px;
  }
}
#hero-slider .img-box {
  position: relative;
}
#hero-slider .owl-carousel .owl-dots {
  position: absolute;
  top: 45%;
  left: 9%;
  transform: translate(-50%) rotate(270deg);
  -webkit-transform: translate(-50%) rotate(270deg);
  -moz-transform: translate(-50%) rotate(270deg);
  -ms-transform: translate(-50%) rotate(270deg);
  -o-transform: translate(-50%) rotate(270deg);
}
#hero-slider .owl-carousel .owl-dots .owl-dot {
  width: 13px;
  height: 13px;
  border: 2px solid #fff;
  margin: 0 5px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
#hero-slider .owl-carousel .owl-dots .active {
  border: 3px solid #fff;
  margin: 0 4px;
}
#hero-slider .container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}
#hero-slider .container .social-icon-box {
  text-align: right;
}
#hero-slider .container .social-icon-box .icon i {
  cursor: pointer;
  font-size: 20px;
  padding: 15px;
  color: #fff;
  background-color: #272727;
  width: 50px;
  height: 50px;
  margin: 10px 0 0;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  -webkit-box-shadow: 0px 0px 18px -5px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 0px 18px -5px rgba(0, 0, 0, 0.35);
  transition: ease-in-out .5s;
  -webkit-transition: ease-in-out .5s;
  -moz-transition: ease-in-out .5s;
  -ms-transition: ease-in-out .5s;
  -o-transition: ease-in-out .5s;
}
#hero-slider .container .social-icon-box .icon i:hover {
  color: #272727;
  background-color: #fff;
}
#hero-slider .container .social-icon-box .icon i.fa-facebook-f {
  padding: 17px;
}

/*=======================================================
                    product section
=======================================================*/
.title-box .title {
  font-size: 24px;
  font-family: "ITC-Avant-Bold";
  font-weight: 700;
  font-style: normal;
  line-height: 1.3;
  margin-top: 100px;
  text-transform: uppercase;
}

.product-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  row-gap: 50px;
}
@media (max-width: 992px) {
  .product-container {
    grid-template-columns: 1fr 1fr 1fr;
    -webkit-column-gap: 15px;
            column-gap: 15px;
  }
}
@media (max-width: 768px) {
  .product-container {
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 10px;
            column-gap: 10px;
  }
}
@media (max-width: 576px) {
  .product-container {
    grid-template-columns: 1fr;
    -webkit-column-gap: 0;
            column-gap: 0;
  }
}
.product-container .product__ .product-info-box {
  padding: 13px 7px 3px;
}
.product-container .product__ .product-info-box .product-name-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.product-container .product__ .product-info-box .product-name-icon .product_name {
  position: relative;
  font-size: 14px;
  font-family: "ITC-Avant-Normal";
  font-weight: 400;
  font-style: normal;
  line-height: 1.3;
  margin: 0;
}
.product-container .product__ .product-info-box .product-name-icon i {
  margin: 5px;
  cursor: pointer;
}
.product-container .product__ .product-info-box .product-name-icon i.fas {
  color: red;
}
.product-container .product__ .product-info-box .info-inner-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 18px;
}
.product-container .product__ .product-info-box .info-inner-box .price-box .currency {
  color: red;
  font-size: 12px;
  font-family: "ITC-Avant-Bold";
  font-weight: 700;
  font-style: normal;
  line-height: 1.3;
  margin: 0;
}
.product-container .product__ .product-info-box .info-inner-box .price-box .price {
  color: red;
  font-size: 18px;
  font-family: "ITC-Avant-Bold";
  font-weight: 700;
  font-style: normal;
  line-height: 1.3;
  margin: 0;
}
.product-container .product__ .product-info-box .info-inner-box .btn-box button {
  font-size: 14px;
  font-family: "ITC-Avant-Normal";
  font-weight: 400;
  font-style: normal;
  line-height: 1.3;
  border: 2px solid #272727;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  color: #fff;
  background-color: #272727;
  padding: 10px 30px;
  transition: ease-in-out .4s;
  -webkit-transition: ease-in-out .4s;
  -moz-transition: ease-in-out .4s;
  -ms-transition: ease-in-out .4s;
  -o-transition: ease-in-out .4s;
}
.product-container .product__ .product-info-box .info-inner-box .btn-box button:hover {
  color: #272727;
  background-color: transparent;
  border: 2px solid #272727;
}

/*=======================================================
                    poster section
=======================================================*/
#poster {
  margin-top: 90px;
}

/*=======================================================
                email-subscribe section
=======================================================*/
#email-subscribe {
  display: grid;
  margin-top: 85px;
  margin-bottom: 110px;
}
#email-subscribe .newsletter-title {
  font-size: 24px;
  text-align: center;
  font-family: "ITC-Avant-Bold";
  font-weight: 700;
  font-style: normal;
  line-height: 1.3;
  text-transform: uppercase;
  margin: 0;
}
#email-subscribe .desc {
  font-size: 14px;
  text-align: center;
  font-family: "ITC-Avant-Normal";
  font-weight: 400;
  font-style: normal;
  line-height: 1.3;
  margin: 30px 0 70px;
}
#email-subscribe .field-group {
  max-width: 650px;
  min-height: 60px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
#email-subscribe .field-group .input-field {
  width: 100%;
  padding: 20px 40px;
  font-family: "ITC-Avant-Bold";
  font-weight: 700;
  font-style: normal;
  line-height: 1.3;
  border: 2px solid #272727;
  border-radius: 30px 0 0 30px;
  -webkit-border-radius: 30px 0 0 30px;
  -moz-border-radius: 30px 0 0 30px;
  -ms-border-radius: 30px 0 0 30px;
  -o-border-radius: 30px 0 0 30px;
}
@media (max-width: 768px) {
  #email-subscribe .field-group .input-field {
    padding: 20px 20px;
  }
}
#email-subscribe .field-group .input-btn {
  padding: 20px 40px;
  background-color: #272727;
  color: #fff;
  font-family: "ITC-Avant-Bold";
  font-weight: 700;
  font-style: normal;
  line-height: 1.3;
  border: 2px solid #272727;
  border-radius: 0 30px 30px 0;
  -webkit-border-radius: 0 30px 30px 0;
  -moz-border-radius: 0 30px 30px 0;
  -ms-border-radius: 0 30px 30px 0;
  -o-border-radius: 0 30px 30px 0;
}
@media (max-width: 768px) {
  #email-subscribe .field-group .input-btn {
    padding: 20px 25px;
  }
}

/*=======================================================
                    footer section
=======================================================*/
#footer {
  display: grid;
  background-color: #272727;
  width: 100%;
}
#footer .container .footer-top {
  display: grid;
  grid-template-columns: 5fr 1fr 1fr 1fr 1fr 1fr;
}
@media (max-width: 992px) {
  #footer .container .footer-top {
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 20px;
            column-gap: 20px;
  }
}
@media (max-width: 576px) {
  #footer .container .footer-top {
    grid-template-columns: 1fr;
    -webkit-column-gap: 0;
            column-gap: 0;
  }
}
#footer .container .footer-top .col {
  margin-top: 28px;
}
#footer .container .footer-top .col img {
  max-width: 120px;
}
#footer .container .footer-top .col .contact-title {
  font-size: 16px;
  font-family: "ITC-Avant-Bold";
  font-weight: 700;
  font-style: normal;
  line-height: 1.3;
  color: #fff;
  text-transform: capitalize;
}
#footer .container .footer-top .col .address,
#footer .container .footer-top .col .phone-number,
#footer .container .footer-top .col .email {
  color: #fff;
  font-size: 13px;
  font-family: "ITC-Avant-Normal";
  font-weight: 400;
  font-style: normal;
  line-height: 1.3;
}
#footer .container .footer-top .col .footer-top-title {
  margin: 45px 0 0;
  color: #fff;
  font-size: 16px;
  font-family: "ITC-Avant-Bold";
  font-weight: 700;
  font-style: normal;
  line-height: 1.3;
  text-transform: capitalize;
}
#footer .container .footer-top .col ul li {
  margin-top: 20px;
}
#footer .container .footer-top .col ul li a {
  font-size: 13px;
  color: #fff;
  font-family: "ITC-Avant-Normal";
  font-weight: 400;
  font-style: normal;
  line-height: 1.3;
  text-transform: capitalize;
}
#footer .container .footer-top .col ul li a:hover {
  text-decoration: underline;
}
@media (max-width: 992px) {
  #footer .container .footer-top .col_1,
  #footer .container .footer-top .col_2,
  #footer .container .footer-top .col_3,
  #footer .container .footer-top .col_4,
  #footer .container .footer-top .col_5 {
    display: none;
  }
}
#footer .container .footer-top .col_6 {
  margin-top: 20px;
  display: block;
}
@media (min-width: 993px) {
  #footer .container .footer-top .col_6 {
    display: none;
  }
}
#footer .container .footer-top .col_6 .tabs {
  overflow: hidden;
}
#footer .container .footer-top .col_6 .tabs h3 a {
  margin: 45px 0 0;
  color: #fff;
  font-size: 16px;
  font-family: "ITC-Avant-Bold";
  font-weight: 700;
  font-style: normal;
  line-height: 1.3;
  text-transform: capitalize;
}
#footer .container .footer-top .col_6 .tabs .tab {
  width: 100%;
  overflow: hidden;
}
#footer .container .footer-top .col_6 .tabs .tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
#footer .container .footer-top .col_6 .tabs .tab .tab-label {
  margin: 0;
  color: #fff;
  font-size: 16px;
  font-family: "ITC-Avant-Bold";
  font-weight: 700;
  font-style: normal;
  line-height: 1.3;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
  padding-left: 0;
  cursor: pointer;
}
#footer .container .footer-top .col_6 .tabs .tab .tab-label::before {
  font-family: "Font Awesome 5 Free";
  content: "\f054";
  font-size: 13px;
  font-weight: 600;
  width: 1em;
  height: 1em;
  color: #fff;
  text-align: center;
  -webkit-transition: all .35s;
  transition: all .35s;
  margin-right: 10px;
}
#footer .container .footer-top .col_6 .tabs .tab .tab-content {
  font-size: 13px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 2px;
  word-spacing: 2px;
  max-height: 0;
  padding: 0 1em;
  color: #656260;
  -webkit-transition: all .35s;
  transition: all .35s;
}
#footer .container .footer-top .col_6 .tabs .tab .tab-content ul li {
  margin-bottom: 10px;
}
#footer .container .footer-top .col_6 .tabs .tab .tab-content ul li a {
  font-size: 13px;
  color: #fff;
  font-family: "ITC-Avant-Normal";
  font-weight: 400;
  font-style: normal;
  line-height: 1.3;
  text-transform: capitalize;
}
#footer .container .footer-top .col_6 .tabs .tab .tab-content ul li a:hover {
  text-decoration: underline;
}
#footer .container .footer-top .col_6 .tabs .tab input:checked + .tab-label::before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
#footer .container .footer-top .col_6 .tabs .tab input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
  margin-left: 25px;
}
#footer .container .footer-top .col_6 .tabs .tab-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: #656260;
  cursor: pointer;
}
#footer .container .footer-top .col_6 .tabs .tab-close:hover {
  background: #4b4947;
}
#footer .container .footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#footer .container .footer-bottom .year,
#footer .container .footer-bottom .copyright {
  font-size: 14px;
  color: #fff;
  margin: 28px 0;
  text-transform: capitalize;
}
